@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao WeeDonald's</h1>
    <h5 style="margin-top: 20px;"> O lugar onde voce mata a sua larica de uma forma inesquecível</h5>
</div>

<div class="container-cardapio">
    <div class="card">
        <div class="card-content">
            <img src="~/img/laricao.jpeg" alt="laricao burguer">
            <p>LARICÃO<br>
                Pão, ovo, queijo, presunto, hamburguer, 
                alfece, tomate e maionese da casa<br>
                <br>
                R$ 19,90
            </p>
            <div class="buy-one">
                <button>Compre</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <img src="~/img/lariquinha.jpeg" alt="laricao burguer">
            <p>LARICÃO<br>
                Pão, ovo, queijo, presunto, hamburguer, 
                alfece, tomate e maionese da casa<br>
                <br>
                R$ 19,90
            </p>
            <div class="buy-one">
                <button>Compre</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <img src="~/img/salvabroca.jpeg" alt="laricao burguer">
            <p>LARICÃO<br>
                Pão, ovo, queijo, presunto, hamburguer, 
                alfece, tomate e maionese da casa<br>
                <br>
                R$ 19,90
            </p>
            <div class="buy-one">
                <button>Compre</button>
            </div>
        </div>
    </div>
</div>
